# Only change the IP if you're using a server with multiple network interfaces, otherwise change the port only.
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

add_ace resource.essentialmode command.sets allow
add_ace resource.essentialmode command.add_principal allow
add_ace resource.essentialmode command.add_ace allow

set es_permissionDenied "Pesky rat! You don't have permission for this!!"
set es_startingCash 10000
set es_startingBank 10000
set es_enableRankDecorators 1
set es_moneyIcon "-"
set es_nativeMoneySystem 1
set es_commandDelimeter "/"
set es_enableLogging 1
set es_enableCustomData 1
set mysql_connection_string "server=127.0.0.1;database=database_name;userid=user_name;password=password"

ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure fivem
ensure hardcap
ensure rconlog
ensure scoreboard

ensure mysql-async
ensure essentialmode
ensure esplugin_mysql
ensure es_extended

ensure esx_menu_default
ensure esx_menu_list
ensure esx_menu_dialog

ensure esx_accessories
ensure esx_addonaccount
ensure esx_addoninventory
ensure esx_ambulancejob
ensure esx_animations
ensure esx_atm
ensure esx_bankerjob
ensure esx_barbershop
ensure esx_basicneeds
ensure esx_billing
ensure esx_boat
ensure esx_clotheshop
ensure esx_datastore
ensure esx_dmvschool
ensure esx_drugs
ensure esx_holdup
ensure esx_identity
ensure esx_joblisting
ensure esx_jobs
ensure esx_license
ensure esx_lscustom
ensure esx_mechanicjob
ensure esx_menu_default
ensure esx_menu_dialog
ensure esx_menu_list
ensure esx_policejob
ensure esx_property
ensure esx_realestateagentjob
ensure esx_rpchat
ensure esx_service
ensure esx_shops
ensure esx_sit
ensure esx_skin
ensure esx_society
ensure esx_status
ensure esx_taxijob
ensure esx_vehicleshop
ensure esx_voice
ensure esx_weaponshop
ensure instance

# This allows players to use scripthook-based plugins such as the legacy Lambda Menu.
# Set this to 1 to allow scripthook. Do note that this does _not_ guarantee players won't be able to use external plugins.
sv_scriptHookAllowed 0

# Uncomment this and set a password to enable RCON. Make sure to change the password - it should look like rcon_password "YOURPASSWORD"
#rcon_password ""

# A comma-separated list of tags for your server.
# For example:
# - sets tags "drifting, cars, racing"
# Or:
# - sets tags "roleplay, military, tanks"
sets tags "default"

# Set an optional server info and connecting banner image url.
# Size doesn't matter, any banner sized image will be fine.
#sets banner_detail "https://url.to/image.png"
#sets banner_connecting "https://url.to/image.png"

# Set your server's hostname
sv_hostname "FXServer, but unconfigured"

# Nested configs!
#exec server_internal.cfg

# Loading a server icon (96x96 PNG file)
#load_server_icon myLogo.png

# convars which can be used in scripts
set temp_convar "hey world!"

# Uncomment this line if you do not want your server to be listed in the server browser.
# Do not edit it if you *do* want your server listed.
#sv_master1 ""

# Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.steam:110000100000000 group.admin # add the admin to the group

# Hide player endpoints in external log output.
sv_endpointprivacy true

# Server player slot limit (must be between 1 and 32, unless using OneSync)
sv_maxclients 32

# License key for your server (https://keymaster.fivem.net)
sv_licenseKey changeme
