# only change these if you're using a server with multiple network interfaces
#endpoint_add_tcp "0.0.0.0:30120"
#endpoint_add_udp "0.0.0.0:30120"


endpoint_add_tcp "ip:port"
endpoint_add_udp "ip:port"

add_ace group.superadmin command allow #daje adminowi możliwość dostępu do używania koncoli ingame
add_principal identifier.steam:110000104e2f7ea group.superadmin #daje admina na steamid 
add_ace resource.essentialmode command.add_ace allow
add_ace resource.essentialmode command.add_principal allow

set es_enableCustomData 1
set mysql_connection_string "server=127.0.0.1;uid=root;password=;database=essentialmode"

start mapmanager
start chat
start spawnmanager
start sessionmanager
start fivem
start hardcap
start rconlog
start baseevents

#hide player names and scoreboard on the up arrow
#start scoreboard
#start playernames

#loading screen by Syntasu
start LoadingScreen

#basic plugins allowing to save player data to an external database and use many functions contained in essentialmode and es_extended

start mysql-async
start essentialmode
start esplugin_mysql
start es_extended

#ESX_menu
start esx_menu_default
start esx_menu_list
start esx_menu_dialog

#exedtended
start esx_phone
start esx_addonaccount
start esx_society
start skinchanger
start esx_skin
start esx_barbershop
start esx_ambulancejob
start esx_billing
start esx_datastore
start esx_addoninventory
start esx_policejob
start esx_identity
start esx_holdup
start esx_rpchat
start esx_status
start esx_basicneeds
start esx_optionalneeds
start esx_license
start esx_dmvschool
start esx_jobs
start esx_joblisting
start esx_taxijob
start esx_mecanojob
start esx_celldoors
start esx_atm
start esx_voice
start esx_migrate

#shops
start esx_vehicleshop
start esx_shops
start esx_clotheshop
start esx_lscustom
start esx_accessories

start instance
start esx_property
start esx_service
start esx_weashops
start esx_drugs
start esx_animations
start handsup
start pNotify
start esx_checkdeathcause

#vehicle accessories
start frfuel
start SexySpeedometerFiveM
start streetLabel
start LockSystem
start lux_vehcontrol
start ELS-FiveM
start esx_aiomenu
start vSync
start warmenu
start netr_garages
# allow client mods such as Lamda Menu?
sv_scriptHookAllowed 0

# change this
#rcon_password ""

# a comma-separated list of tags for your server
# for example: sets tags "drifting, cars, racing" or sets tags "roleplay, military, tanks"
sets tags "Roleplay,RP"

sv_hostname "Server Testowy"

# nested configs!
#exec server_internal.cfg

# loading a server icon (96x96 PNG file)
load_server_icon ikona.png

# convars for use from script
#set temp_convar "Witaj na serwerze Testowym!"

# Uncomment to DISABLE your server coming up in the server list
#sv_master1 ""

# want to only allow players authenticated with a third-party provider like Steam (don't forget, Social Club is a third party provider too!)?
#sv_authMaxVariance 1
#sv_authMinTrust 5

# add system admins
#add_ace group.admin command allow # allow all commands
#add_ace group.admin command.quit deny # but don't allow quit
#add_principal identifier.steam:110000104e2f7ea group.admin # add the admin to the group

# remove the # to hide player endpoints in external log output
sv_endpointprivacy true

# server slots limit (must be between 1 and 32)
sv_maxclients 32

# license key for server (https://keymaster.fivem.net)
sv_licenseKey 
restart sessionmanager
