/*--------------------------------------------------------------------------

    ActionMenu - v1.0.1
    Created by WolfKnight
    Additional help from lowheartrate, TheStonedTurtle, and Briglair.  

--------------------------------------------------------------------------*/

@font-face {
    font-family: "Roboto";
    src: url( "Roboto.ttf" );
}

#actionmenu {
    position: absolute;
    overflow: hidden; 
    left: 25%; 
    top: 35%;
    width: 70%;
    height: 60%; 
}

#actionmenu div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    max-height: 100%;
}

#actionmenu button, button:hover, button:active, button:focus {
    border-radius: 6px;
    border: none;
}

#actionmenu button { 
    background: linear-gradient( to bottom, rgb( 240, 240, 240 ), rgb( 200, 200, 200 ) );
    color: black; 
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    padding: 10px 24px; 
    margin: 8px 8px 8px 8px;
    cursor: pointer; 
    width: 200px; 
    display: block; 
    text-transform: uppercase;
}

#actionmenu button:hover {
    background: linear-gradient( to bottom, rgb( 255, 255, 255 ), rgb( 190, 190, 190 ) );
}

#actionmenu button:active {
    background: linear-gradient( to bottom, rgb( 220, 220, 220 ), rgb( 170, 170, 170 ) );
}
